body {
  font: 16px 'Lato', Georgia, "Times New Roman", Times, serif;
  line-height: 1.3;
  max-width: 42em;
  margin: 4em auto auto auto;
  
}

p {
    line-height: 1.5;
}

a {
    color: #24936E;
    text-decoration: none;
}

a:hover, a:focus {
    color: #330986;
    text-decoration: underline;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    font-size: 90%;
    line-height: 1.5;
    margin: 2 2 2 2em;
    padding: 4;
}

h1 {
    font-size: 1.6em;
    margin: 0 0;
}

h1 small {
    font-family: STKaiTi, KaiTi, FangSong, SimSun, serif;
    color: #888;
}

h2 {
    font-size: 1.4em;
    margin: 0.2em 0;
}

#header-photo {
    height: 180px;
    float: right;
    margin-right: 0;

}

#header-info {
    float: left;
}

#header-info ul {
    list-style: none;
}

#header-info li {
    margin: 0;
}

#pronunciation {
    font-size: 70%;
    color: #888;
}

#contact-link {
    font-size: 100%;
    color: #888;
}

#header {
    font-size: 125%;
}

#header:before {
    display: table;
    content: " ";
}

#header:after {
    clear: both;
    display: table;
    content: " ";
}

#footer {
    margin-top: 2em;
    font-size: 80%;
}

#footer, code {
    font-family: Courier, 'Courier New', monospace;
}
